@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&display=swap');
body{
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: min(320px, 80%);
    height: 499px;
    padding: 16px;

}
.image{
    width: 100%;
    border-radius: 10px;
}
.text{
    width: 288px;
    text-align: center;
    margin: 0 auto;
}
p{
    text-align: center;
    font-family: 'Outfit', sans-serif;
}
.title{
    font-size: 22px;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    margin: 24px 16px 16px 16px;
    line-height: 120%;
}
.description{
    margin: 1em 1em 2.7em 1em;
    font-size: 15px;
    font-weight: 300;
    opacity: 0.5;
    line-height: 140%;
}

